@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-*: initial;
    --color-white: #FFFFFF;
    --color-primary: #FF8D28;
    --color-secondary: #FF122E;
    --color-tertiary: #FFC050;
    --color-black: #2C2725;
    --color-alert: #DD1515;
    --color-gradient: conic-gradient(
    from 90deg at 50% 50%,
    #FF122E,
    #FF8D28
  );
    
    --font-sans: Manrope, system-ui ,sans-serif;

    /* --breakpoint-xs: 30rem; */
    /* --breakpoint-2xl: 2000; */
    /* --breakpoint-3xl: 120rem; */
}

@layer base {
    h1 {
        @apply text-[32px] leading-[48px] md:text-[64px] md:leading-[96px] 2xl:text-[128px] 2xl:leading-[192px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
        
  }
    h2 {
        @apply 2xl:text-[90px] 2xl:leading-[135px] md:text-[45px] md:leading-[68px] text-[32px] leading-[48px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    h3 {
        @apply 2xl:text-[64px] 2xl:leading-[96px] md:text-[32px] md:leading-[48px] text-[23px] leading-[35px] dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    h4 {
        @apply 2xl:text-[45px] 2xl:leading-[68px] md:text-[23px] md:leading-[35px] text-[22px] leading-[38px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    h5 {
        @apply 2xl:text-[32px] 2xl:leading-[48px] md:leading-[38px] md:text-[22px] text-[18px] leading-[30px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    h6 {
        @apply 2xl:text-[23px] 2xl:leading-[35px] md:text-[18px] md:leading-[30px] text-[15px] leading-[21px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    p {
        @apply md:text-[16px] md:leading-[21px] text-[16px] leading-[21px] dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    button {
      @apply hover:cursor-pointer;
    }
}

@layer components {
    .text-small {
        @apply md:text-[11px] md:leading-[17px] text-[8px] leading-[14px] dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    .text-p {
        @apply md:text-[16px] md:leading-[21px] text-[16px] leading-[21px] dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }

    .text-h1 {
        @apply text-[32px] leading-[48px] md:text-[64px] md:leading-[96px] 2xl:text-[128px] 2xl:leading-[192px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    .text-h2 {
        @apply 2xl:text-[90px] 2xl:leading-[135px] md:text-[45px] md:leading-[68px] text-[32px] leading-[48px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    .text-h3 {
        @apply 2xl:text-[64px] 2xl:leading-[96px] md:text-[32px] md:leading-[48px] text-[23px] leading-[35px] dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    .text-h4 {
        @apply 2xl:text-[45px] 2xl:leading-[68px] md:text-[23px] md:leading-[35px] text-[22px] leading-[38px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    .text-h5 {
        @apply 2xl:text-[32px] 2xl:leading-[48px] md:leading-[38px] md:text-[22px] text-[18px] leading-[30px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    .text-h6 {
         @apply 2xl:text-[23px] 2xl:leading-[35px] md:text-[18px] md:leading-[30px] text-[15px] leading-[21px] font-bold dark:text-white;
        font-family: 'Manrope', system-ui, sans-serif;
  }
    .text-gradient {
        @apply bg-gradient-to-r from-primary to-secondary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
    .main-button {
      @apply rounded-full 2xl:px-[32px] px-[16px] py-[16px] 2xl:py-[16px] text-black dark:bg-white bg-black/50 hover:shadow-xl active:bg-black/50 dark:active:bg-white/50 xl:mt-0 xl:w-[258px] w-[230px] dark:hover:bg-black dark:hover:text-white hover:bg-black hover:text-white;
    }
    .main-button-black {
      @apply rounded-full 2xl:px-[32px] px-[16px] py-[16px] 2xl:py-[16px] text-white bg-black hover:shadow-xl active:bg-white/50 xl:mt-0 xl:w-[258px] w-[230px] hover:bg-white hover:text-black
    }
    .main-small-button {
      @apply rounded-full 2xl:px-[16px] px-[16px] py-[16px] 2xl:py-[8px] text-white dark:bg-black bg-black/50 hover:shadow-xl active:bg-black/50 dark:active:bg-white/50 xl:mt-0 xl:w-[258px] w-[200px] dark:hover:bg-white dark:hover:text-black hover:bg-black hover:text-white;
    }
    .secondary-button {
      @apply rounded-full 2xl:px-[32px] px-[16px] py-[16px] 2xl:py-[16px] text-white dark:bg-secondary bg-secondary hover:shadow-xl active:bg-black/5 xl:mt-0 xl:w-[258px] w-[230px] dark:hover:bg-white dark:hover:text-black hover:bg-white hover:text-black;
    }
    .fluid-button {
      @apply rounded-full 2xl:px-[32px] px-[16px] py-[16px] 2xl:py-[16px] text-white dark:bg-black bg-black/50 hover:shadow-xl active:bg-black/50 dark:active:bg-white/50 xl:mt-0 dark:hover:bg-white dark:hover:text-black hover:bg-black hover:text-white;
    }
    .small-button {
      @apply rounded-full text-white bg-black/50 hover:shadow-xl active:bg-black/50 dark:active:bg-white/50 xl:mt-0 w-[100px] dark:hover:bg-white dark:hover:text-black hover:bg-black hover:text-white;
    }

    .card-border {
      /* bordo soft caldo */
      border: 1px solid rgba(255, 255, 255, 0.5);

      /* profondità */
      box-shadow:
        0px 10px 60px rgba(66, 61, 61, 0.562),
        0 0 0 2px rgba(241, 233, 231, 0.062); /* glow esterno leggerissimo */
    }

    .animation {
      transform-origin: center;
      animation: shrink linear both;
      animation-timeline: view();
      animation-range: exit 0% exit 80%;
  }



}

@layer theme {
  * {
    @apply transition-colors duration-100 ease-out;
  }
}

  @keyframes shrink {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.50);
      opacity: 0.6;
    }
  }
  
